In [2]:
import pandas as pd

In [3]:
bank = pd.read_csv('bank3.csv')

In [5]:
bank.drop(["A", "B", "C", "D", "E"], axis=1, inplace=True)
bank.drop(["CHQ.NO."], axis=1, inplace=True)

In [6]:
bank

,Account No,DATE,TRANSACTION DETAILS,VALUE DATE,WITHDRAWAL AMT,DEPOSIT AMT,BALANCE AMT
0,409000611074,2017-06-29,TRF FROM Indiaforensic SERVICES,2017-06-29,NaN,1000000.0,1.000000e+06
1,409000611074,2017-07-05,TRF FROM Indiaforensic SERVICES,2017-07-05,NaN,1000000.0,2.000000e+06
2,409000611074,2017-07-18,FDRL/INTERNAL FUND TRANSFE,2017-07-18,NaN,500000.0,2.500000e+06
3,409000611074,2017-08-01,TRF FRM Indiaforensic SERVICES,2017-08-01,NaN,3000000.0,5.500000e+06
4,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,6.000000e+06
5,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,6.500000e+06
6,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,7.000000e+06
7,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,7.500000e+06
8,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,8.000000e+06
9,409000611074,2017-08-16,FDRL/INTERNAL FUND TRANSFE,2017-08-16,NaN,500000.0,8.500000e+06
10,409000611074,2017-08-16,INDO GIBL Indiaforensic STL01071,2017-08-16,133900.00,NaN,8.366100e+06
11,409000611074,2017-08-16,INDO GIBL Indiaforensic STL02071,2017-08-16,18000.00,NaN,8.348100e+06
12,409000611074,2017-08-16,INDO GIBL Indiaforensic STL03071,2017-08-16,5000.00,NaN,8.343100e+06
13,409000611074,2017-08-16,INDO GIBL Indiaforensic STL04071,2017-08-16,195800.00,NaN,8.147300e+06
14,409000611074,2017-08-16,INDO GIBL Indiaforensic STL05071,2017-08-16,81600.00,NaN,8.065700e+06
15,409000611074,2017-08-16,INDO GIBL Indiaforensic STL06071,2017-08-16,41800.00,NaN,8.023900e+06
16,409000611074,2017-08-16,INDO GIBL Indiaforensic STL07071,2017-08-16,98500.00,NaN,7.925400e+06
17,409000611074,2017-08-16,INDO GIBL Indiaforensic STL10071,2017-08-16,143800.00,NaN,7.781600e+06
18,409000611074,2017-08-16,INDO GIBL Indiaforensic STL11071,2017-08-16,331650.00,NaN,7.449950e+06
19,409000611074,2017-08-16,INDO GIBL Indiaforensic STL12071,2017-08-16,129000.00,NaN,7.320950e+06
20,409000611074,2017-08-16,INDO GIBL Indiaforensic STL13071,2017-08-16,230013.00,NaN,7.090937e+06
21,409000611074,2017-08-16,INDO GIBL Indiaforensic STL14071,2017-08-16,367900.00,NaN,6.723037e+06
22,409000611074,2017-08-16,INDO GIBL Indiaforensic STL15071,2017-08-16,108000.00,NaN,6.615037e+06
23,409000611074,2017-08-16,INDO GIBL Indiaforensic STL16071,2017-08-16,64800.00,NaN,6.550237e+06
24,409000611074,2017-08-16,INDO GIBL Indiaforensic STL17071,2017-08-16,141000.00,NaN,6.409237e+06
25,409000611074,2017-08-16,INDO GIBL Indiaforensic STL18071,2017-08-16,61750.00,NaN,6.347487e+06
26,409000611074,2017-08-16,INDO GIBL Indiaforensic STL19071,2017-08-16,67920.00,NaN,6.279567e+06
27,409000611074,2017-08-16,INDO GIBL Indiaforensic STL20071,2017-08-16,78100.00,NaN,6.201467e+06
28,409000611074,2017-08-16,INDO GIBL Indiaforensic STL21071,2017-08-16,35650.00,NaN,6.165817e+06
29,409000611074,2017-08-16,INDO GIBL Indiaforensic STL22071,2017-08-16,206000.00,NaN,5.959817e+06
...,...,...,...,...,...,...,...
116171,409000362497,2019-03-02,Sweep Trf To: 40900036427,2019-03-02,4000.00,NaN,-1.900463e+09
116172,409000362497,2019-03-04,IMPS 0203191C,2019-03-04,8902.39,NaN,-1.900472e+09
116173,409000362497,2019-03-04,IMPS 0303191C,2019-03-04,67752.22,NaN,-1.900540e+09
116174,409000362497,2019-03-04,IMPS 040320192C,2019-03-04,431613.76,NaN,-1.900971e+09
116175,409000362497,2019-03-04,IMPS 040320193C,2019-03-04,348262.41,NaN,-1.901320e+09
116176,409000362497,2019-03-04,FDRL/INTERNAL FUND TRANSFE,2019-03-04,NaN,1000000.0,-1.900320e+09
116177,409000362497,2019-03-04,FDRL/INTERNAL FUND TRANSFE,2019-03-04,NaN,300000.0,-1.900020e+09
116178,409000362497,2019-03-04,NEFT/SBIN619063713746/Indfor,2019-03-04,NaN,1200000.0,-1.898820e+09
116179,409000362497,2019-03-04,IMPS 040320194C,2019-03-04,83802.03,NaN,-1.898904e+09
116180,409000362497,2019-03-04,Sweep Trf To: 40900036427,2019-03-04,8000.00,NaN,-1.898912e+09
116181,409000362497,2019-03-05,IMPS 0403191C,2019-03-05,20185.23,NaN,-1.898932e+09
116182,409000362497,2019-03-05,IMPS 050320192C,2019-03-05,548690.97,NaN,-1.899480e+09
116183,409000362497,2019-03-05,IMPS 050320193C,2019-03-05,425622.38,NaN,-1.899906e+09
116184,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.898906e+09
116185,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.897906e+09
116186,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,1000000.0,-1.896906e+09
116187,409000362497,2019-03-05,NEFT/000069177649/INDIAID,2019-03-05,6599.00,NaN,-1.896913e+09
116188,409000362497,2019-03-05,NEFT/000069177816/PAYU PA,2019-03-05,37251.00,NaN,-1.896950e+09
116189,409000362497,2019-03-05,NEFT/000069177962/FUTURE,2019-03-05,2829.00,NaN,-1.896953e+09
116190,409000362497,2019-03-05,NEFT/000069178285/PASFAR,2019-03-05,98.00,NaN,-1.896953e+09
116191,409000362497,2019-03-05,NEFT/000069178432/MEHAR E,2019-03-05,230.00,NaN,-1.896953e+09
116192,409000362497,2019-03-05,NEFT/000069178587/INDIAN,2019-03-05,816832.00,NaN,-1.897770e+09
116193,409000362497,2019-03-05,NEFT/000069178631/INDIAN,2019-03-05,1699952.16,NaN,-1.899470e+09
116194,409000362497,2019-03-05,NEFT/000069179261/INDIAN,2019-03-05,1095668.87,NaN,-1.900565e+09
116195,409000362497,2019-03-05,NEFT/000069179347/INDIAN,2019-03-05,1218673.00,NaN,-1.901784e+09
116196,409000362497,2019-03-05,TRF TO 1196428 Indiaforensic SE,2019-03-05,117934.30,NaN,-1.901902e+09
116197,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,300000.0,-1.901602e+09
116198,409000362497,2019-03-05,FDRL/INTERNAL FUND TRANSFE,2019-03-05,NaN,300000.0,-1.901302e+09
116199,409000362497,2019-03-05,IMPS 05-03-20194C,2019-03-05,109868.65,NaN,-1.901412e+09
116200,409000362497,2019-03-05,Sweep Trf To: 40900036427,2019-03-05,5000.00,NaN,-1.901417e+09

In [8]:
df_acc1 = bank[bank["Account No"] == 409000611074]

In [10]:
df_acc1.shape

(1093, 7)

In [17]:
from fuzzywuzzy import fuzz

df_acc1 = bank[bank["Account No"] == 409000611074]

def seq_match(df_temp, trans_details):
    
    df_temp.reset_index(inplace=True)
#     df_res = pd.DataFrame()
    df_res = []
    for i, (x, y) in enumerate(df_temp.iterrows()):
        if fuzz.ratio(trans_details, df_temp.loc[i, "TRANSACTION DETAILS"]) > 30:
            df_res.append(df_temp.loc[i]) 
#             print(i)
#         if fuzz.ratio(trans_details, df_temp.loc[i, "TRANSACTION DETAILS"]) > 45:
#             df
    
    return pd.DataFrame(df_res) 

trans_details = "TRF FROM Indiaforensic SERVICES"

res = seq_match(df_acc1, trans_details)
# res.reset_index(inplace=True)
print(res)

      index    Account No        DATE               TRANSACTION DETAILS  \
0         0  409000611074  2017-06-29  TRF FROM  Indiaforensic SERVICES
1         1  409000611074  2017-07-05  TRF FROM  Indiaforensic SERVICES
3         3  409000611074  2017-08-01   TRF FRM  Indiaforensic SERVICES
10       10  409000611074  2017-08-16  INDO GIBL Indiaforensic STL01071
11       11  409000611074  2017-08-16  INDO GIBL Indiaforensic STL02071
12       12  409000611074  2017-08-16  INDO GIBL Indiaforensic STL03071
13       13  409000611074  2017-08-16  INDO GIBL Indiaforensic STL04071
14       14  409000611074  2017-08-16  INDO GIBL Indiaforensic STL05071
15       15  409000611074  2017-08-16  INDO GIBL Indiaforensic STL06071
16       16  409000611074  2017-08-16  INDO GIBL Indiaforensic STL07071
17       17  409000611074  2017-08-16  INDO GIBL Indiaforensic STL10071
18       18  409000611074  2017-08-16  INDO GIBL Indiaforensic STL11071
19       19  409000611074  2017-08-16  INDO GIBL Indiaforensic STL12071
20       20  409000611074  2017-08-16  INDO GIBL Indiaforensic STL13071
21       21  409000611074  2017-08-16  INDO GIBL Indiaforensic STL14071
22       22  409000611074  2017-08-16  INDO GIBL Indiaforensic STL15071
23       23  409000611074  2017-08-16  INDO GIBL Indiaforensic STL16071
24       24  409000611074  2017-08-16  INDO GIBL Indiaforensic STL17071
25       25  409000611074  2017-08-16  INDO GIBL Indiaforensic STL18071
26       26  409000611074  2017-08-16  INDO GIBL Indiaforensic STL19071
27       27  409000611074  2017-08-16  INDO GIBL Indiaforensic STL20071
28       28  409000611074  2017-08-16  INDO GIBL Indiaforensic STL21071
29       29  409000611074  2017-08-16  INDO GIBL Indiaforensic STL22071
30       30  409000611074  2017-08-16  INDO GIBL Indiaforensic STL24071
31       31  409000611074  2017-08-16  INDO GIBL Indiaforensic STL25071
32       32  409000611074  2017-08-16  INDO GIBL Indiaforensic STL26071
33       33  409000611074  2017-08-16  INDO GIBL Indiaforensic STL27071
34       34  409000611074  2017-08-16  INDO GIBL Indiaforensic STL28071
35       35  409000611074  2017-08-16  INDO GIBL Indiaforensic STL30071
36       36  409000611074  2017-08-16  INDO GIBL Indiaforensic STL31071
...     ...           ...         ...                               ...
1050   1050  409000611074  2019-01-17      Indfor INCOME INDO REMI16011
1051   1051  409000611074  2019-01-17  INDO GIBL Indiaforensic STL16011
1053   1053  409000611074  2019-01-18      Indfor INCOME INDO REMI17011
1054   1054  409000611074  2019-01-18  INDO GIBL Indiaforensic STL17011
1056   1056  409000611074  2019-01-19      Indfor INCOME INDO REMI18011
1057   1057  409000611074  2019-01-19  INDO GIBL Indiaforensic STL18011
1060   1060  409000611074  2019-01-21      Indfor INCOME INDO REMI19011
1061   1061  409000611074  2019-01-21  INDO GIBL Indiaforensic STL19011
1062   1062  409000611074  2019-01-21      Indfor INCOME INDO REMI20011
1063   1063  409000611074  2019-01-21  INDO GIBL Indiaforensic STL20011
1065   1065  409000611074  2019-01-22      Indfor INCOME INDO REMI21011
1066   1066  409000611074  2019-01-22  INDO GIBL Indiaforensic STL21011
1068   1068  409000611074  2019-01-23      Indfor INCOME INDO REMI22011
1069   1069  409000611074  2019-01-23  INDO GIBL Indiaforensic STL22011
1071   1071  409000611074  2019-01-24      Indfor INCOME INDO REMI23011
1072   1072  409000611074  2019-01-24  INDO GIBL Indiaforensic STL23011
1074   1074  409000611074  2019-01-25      Indfor INCOME INDO REMI24011
1075   1075  409000611074  2019-01-25  INDO GIBL Indiaforensic STL24011
1077   1077  409000611074  2019-01-28      Indfor INCOME INDO REMI25011
1078   1078  409000611074  2019-01-28  INDO GIBL Indiaforensic STL25011
1079   1079  409000611074  2019-01-28      Indfor INCOME INDO REMI26011
1080   1080  409000611074  2019-01-28  INDO GIBL Indiaforensic STL26011
1082   1082  409000611074  2019-01-29      Indfor INCOME INDO REMI28011
1083   1083  409000611074  2019-01-29  INDO GIBL Indiaforensic STL28011
1085   1085  409000611074  2019-01-30      Indfor INCOME INDO REMI29011
1086   1086  409000611074  2019-01-30  INDO GIBL Indiaforensic STL29011
1087   1087  409000611074  2019-01-31      Indfor INCOME INDO REMI30011
1088   1088  409000611074  2019-01-31  INDO GIBL Indiaforensic STL30011
1090   1090  409000611074  2019-02-01      Indfor INCOME INDO REMI31011
1091   1091  409000611074  2019-02-01  INDO GIBL Indiaforensic STL31011

      VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  BALANCE AMT
0     2017-06-29             NaN    1000000.0    1000000.0
1     2017-07-05             NaN    1000000.0    2000000.0
3     2017-08-01             NaN    3000000.0    5500000.0
10    2017-08-16        133900.0          NaN    8366100.0
11    2017-08-16         18000.0          NaN    8348100.0
12    2017-08-16          5000.0          NaN    8343100.0
13    2017-08-16        195800.0          NaN    8147300.0
14    2017-08-16         81600.0          NaN    8065700.0
15    2017-08-16         41800.0          NaN    8023900.0
16    2017-08-16         98500.0          NaN    7925400.0
17    2017-08-16        143800.0          NaN    7781600.0
18    2017-08-16        331650.0          NaN    7449950.0
19    2017-08-16        129000.0          NaN    7320950.0
20    2017-08-16        230013.0          NaN    7090937.0
21    2017-08-16        367900.0          NaN    6723037.0
22    2017-08-16        108000.0          NaN    6615037.0
23    2017-08-16         64800.0          NaN    6550237.0
24    2017-08-16        141000.0          NaN    6409237.0
25    2017-08-16         61750.0          NaN    6347487.0
26    2017-08-16         67920.0          NaN    6279567.0
27    2017-08-16         78100.0          NaN    6201467.0
28    2017-08-16         35650.0          NaN    6165817.0
29    2017-08-16        206000.0          NaN    5959817.0
30    2017-08-16         35300.0          NaN    5924517.0
31    2017-08-16         49800.0          NaN    5874717.0
32    2017-08-16         53000.0          NaN    5821717.0
33    2017-08-16         91300.0          NaN    5730417.0
34    2017-08-16         57499.0          NaN    5672918.0
35    2017-08-16         20000.0          NaN    5652918.0
36    2017-08-16         19400.0          NaN    5633518.0
...          ...             ...          ...          ...
1050  2019-01-17          3000.0          NaN    1457719.0
1051  2019-01-17        446201.0          NaN    1011518.0
1053  2019-01-18          3600.0          NaN    1407918.0
1054  2019-01-18        628628.0          NaN     779290.0
1056  2019-01-19          1440.0          NaN    1277850.0
1057  2019-01-19        229800.0          NaN    1048050.0
1060  2019-01-21           960.0          NaN    1647090.0
1061  2019-01-21         98900.0          NaN    1548190.0
1062  2019-01-21           480.0          NaN    1547710.0
1063  2019-01-21         96200.0          NaN    1451510.0
1065  2019-01-22          4080.0          NaN    1747430.0
1066  2019-01-22        602930.0          NaN    1144500.0
1068  2019-01-23          3720.0          NaN    1540780.0
1069  2019-01-23        589137.0          NaN     951643.0
1071  2019-01-24          2880.0          NaN    1448763.0
1072  2019-01-24        388327.0          NaN    1060436.0
1074  2019-01-25          2040.0          NaN    1558396.0
1075  2019-01-25        245413.0          NaN    1312983.0
1077  2019-01-28          1920.0          NaN    1611063.0
1078  2019-01-28        466124.0          NaN    1144939.0
1079  2019-01-28           360.0          NaN    1144579.0
1080  2019-01-28         17500.0          NaN    1127079.0
1082  2019-01-29          2520.0          NaN    1524559.0
1083  2019-01-29        299125.0          NaN    1225434.0
1085  2019-01-30          3360.0          NaN    1522074.0
1086  2019-01-30        401052.0          NaN    1121022.0
1087  2019-01-31          1200.0          NaN    1119822.0
1088  2019-01-31        224051.0          NaN     895771.0
1090  2019-02-01           720.0          NaN    1195051.0
1091  2019-02-01        132851.0          NaN    1062200.0

[779 rows x 8 columns]

In [55]:
# for x in res['TRANSACTION DETAILS']:
#     print(x)

account_list = bank["Account No"].unique()
print(account_list)
df_acc1 = bank[bank["Account No"] == 409000362497]
df_acc1.reset_index(inplace=True)

[409000611074 409000493201 409000425051 409000405747 409000438611
 409000493210 409000438620      1196711      1196428 409000362497]

In [56]:
print(df_acc1)

        index    Account No        DATE               TRANSACTION DETAILS  \
0       86361  409000362497  2015-07-16                                 0
1       86362  409000362497  2015-07-16                                 0
2       86363  409000362497  2015-07-16                                 0
3       86364  409000362497  2015-07-16                                 0
4       86365  409000362497  2015-07-16                                 0
5       86366  409000362497  2015-07-16                                 0
6       86367  409000362497  2015-07-16                                 0
7       86368  409000362497  2015-07-16                                 0
8       86369  409000362497  2015-07-16                                 0
9       86370  409000362497  2015-07-16                IMPS O/W 160715 3C
10      86371  409000362497  2015-07-16                IMPS I/W 160715 3C
11      86372  409000362497  2015-07-16         P2P NEFT SETTLEMENT  INTE
12      86373  409000362497  2015-07-17                                 0
13      86374  409000362497  2015-07-17                                 0
14      86375  409000362497  2015-07-17                                 0
15      86376  409000362497  2015-07-17                                 0
16      86377  409000362497  2015-07-17                IMPS O/W 160715 1C
17      86378  409000362497  2015-07-17                IMPS I/W 160715 1C
18      86379  409000362497  2015-07-17                                 0
19      86380  409000362497  2015-07-17                                 0
20      86381  409000362497  2015-07-17                                 0
21      86382  409000362497  2015-07-17                                 0
22      86383  409000362497  2015-07-17                                 0
23      86384  409000362497  2015-07-17                                 0
24      86385  409000362497  2015-07-17                IMPS O/W 170715 2C
25      86386  409000362497  2015-07-17                IMPS I/W 170715 2C
26      86387  409000362497  2015-07-17                                 0
27      86388  409000362497  2015-07-17                                 0
28      86389  409000362497  2015-07-17                                 0
29      86390  409000362497  2015-07-17                                 0
...       ...           ...         ...                               ...
29810  116171  409000362497  2019-03-02         Sweep Trf To: 40900036427
29811  116172  409000362497  2019-03-04                     IMPS 0203191C
29812  116173  409000362497  2019-03-04                     IMPS 0303191C
29813  116174  409000362497  2019-03-04                   IMPS 040320192C
29814  116175  409000362497  2019-03-04                   IMPS 040320193C
29815  116176  409000362497  2019-03-04        FDRL/INTERNAL FUND TRANSFE
29816  116177  409000362497  2019-03-04        FDRL/INTERNAL FUND TRANSFE
29817  116178  409000362497  2019-03-04      NEFT/SBIN619063713746/Indfor
29818  116179  409000362497  2019-03-04                   IMPS 040320194C
29819  116180  409000362497  2019-03-04         Sweep Trf To: 40900036427
29820  116181  409000362497  2019-03-05                     IMPS 0403191C
29821  116182  409000362497  2019-03-05                   IMPS 050320192C
29822  116183  409000362497  2019-03-05                   IMPS 050320193C
29823  116184  409000362497  2019-03-05        FDRL/INTERNAL FUND TRANSFE
29824  116185  409000362497  2019-03-05        FDRL/INTERNAL FUND TRANSFE
29825  116186  409000362497  2019-03-05        FDRL/INTERNAL FUND TRANSFE
29826  116187  409000362497  2019-03-05         NEFT/000069177649/INDIAID
29827  116188  409000362497  2019-03-05         NEFT/000069177816/PAYU PA
29828  116189  409000362497  2019-03-05          NEFT/000069177962/FUTURE
29829  116190  409000362497  2019-03-05          NEFT/000069178285/PASFAR
29830  116191  409000362497  2019-03-05         NEFT/000069178432/MEHAR E
29831  116192  409000362497  2019-03-05          NEFT/000069178587/INDIAN
29832  116193  409000362497  2019-03-05          NEFT/000069178631/INDIAN
29833  116194  409000362497  2019-03-05          NEFT/000069179261/INDIAN
29834  116195  409000362497  2019-03-05          NEFT/000069179347/INDIAN
29835  116196  409000362497  2019-03-05  TRF TO 1196428  Indiaforensic SE
29836  116197  409000362497  2019-03-05        FDRL/INTERNAL FUND TRANSFE
29837  116198  409000362497  2019-03-05        FDRL/INTERNAL FUND TRANSFE
29838  116199  409000362497  2019-03-05                 IMPS 05-03-20194C
29839  116200  409000362497  2019-03-05         Sweep Trf To: 40900036427

       VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0      2015-07-16             NaN  10000000.00 -1.677234e+09
1      2015-07-16             NaN  10000000.00 -1.667234e+09
2      2015-07-16             NaN  10000000.00 -1.657234e+09
3      2015-07-16             NaN  10000000.00 -1.647234e+09
4      2015-07-16             NaN   8000000.00 -1.639234e+09
5      2015-07-16             NaN   8000000.00 -1.631234e+09
6      2015-07-16             NaN  12000000.00 -1.619234e+09
7      2015-07-16             NaN  12000000.00 -1.607234e+09
8      2015-07-16             NaN  10000000.00 -1.597234e+09
9      2015-07-16     11411448.82          NaN -1.608645e+09
10     2015-07-16             NaN     31830.40 -1.608614e+09
11     2015-07-16       568813.00          NaN -1.609182e+09
12     2015-07-17             NaN  10000000.00 -1.599182e+09
13     2015-07-17             NaN  10000000.00 -1.589182e+09
14     2015-07-17             NaN  10000000.00 -1.579182e+09
15     2015-07-17             NaN  10000000.00 -1.569182e+09
16     2015-07-17     51699705.79          NaN -1.620882e+09
17     2015-07-17             NaN     76878.37 -1.620805e+09
18     2015-07-17             NaN  10000000.00 -1.610805e+09
19     2015-07-17             NaN  10000000.00 -1.600805e+09
20     2015-07-17             NaN  10000000.00 -1.590805e+09
21     2015-07-17             NaN  12000000.00 -1.578805e+09
22     2015-07-17             NaN  12000000.00 -1.566805e+09
23     2015-07-17             NaN  12000000.00 -1.554805e+09
24     2015-07-17     51619713.64          NaN -1.606425e+09
25     2015-07-17             NaN    135170.30 -1.606290e+09
26     2015-07-17             NaN  12000000.00 -1.594290e+09
27     2015-07-17             NaN  12000000.00 -1.582290e+09
28     2015-07-17             NaN  12000000.00 -1.570290e+09
29     2015-07-17             NaN  12000000.00 -1.558290e+09
...           ...             ...          ...           ...
29810  2019-03-02         4000.00          NaN -1.900463e+09
29811  2019-03-04         8902.39          NaN -1.900472e+09
29812  2019-03-04        67752.22          NaN -1.900540e+09
29813  2019-03-04       431613.76          NaN -1.900971e+09
29814  2019-03-04       348262.41          NaN -1.901320e+09
29815  2019-03-04             NaN   1000000.00 -1.900320e+09
29816  2019-03-04             NaN    300000.00 -1.900020e+09
29817  2019-03-04             NaN   1200000.00 -1.898820e+09
29818  2019-03-04        83802.03          NaN -1.898904e+09
29819  2019-03-04         8000.00          NaN -1.898912e+09
29820  2019-03-05        20185.23          NaN -1.898932e+09
29821  2019-03-05       548690.97          NaN -1.899480e+09
29822  2019-03-05       425622.38          NaN -1.899906e+09
29823  2019-03-05             NaN   1000000.00 -1.898906e+09
29824  2019-03-05             NaN   1000000.00 -1.897906e+09
29825  2019-03-05             NaN   1000000.00 -1.896906e+09
29826  2019-03-05         6599.00          NaN -1.896913e+09
29827  2019-03-05        37251.00          NaN -1.896950e+09
29828  2019-03-05         2829.00          NaN -1.896953e+09
29829  2019-03-05           98.00          NaN -1.896953e+09
29830  2019-03-05          230.00          NaN -1.896953e+09
29831  2019-03-05       816832.00          NaN -1.897770e+09
29832  2019-03-05      1699952.16          NaN -1.899470e+09
29833  2019-03-05      1095668.87          NaN -1.900565e+09
29834  2019-03-05      1218673.00          NaN -1.901784e+09
29835  2019-03-05       117934.30          NaN -1.901902e+09
29836  2019-03-05             NaN    300000.00 -1.901602e+09
29837  2019-03-05             NaN    300000.00 -1.901302e+09
29838  2019-03-05       109868.65          NaN -1.901412e+09
29839  2019-03-05         5000.00          NaN -1.901417e+09

[29840 rows x 8 columns]

In [57]:
def subsetsum(array, num):

    if num == 0 or num < 1:
        return []
    elif len(array) == 0:
        return []
    else:
        if array[0] == num:
            return [array[0]]
        else:
            with_v = subsetsum(array[1:],(num - array[0])) 
            if with_v:
                return [array[0]] + with_v
            else:
                return subsetsum(array[1:],num)

In [ ]:
#### Subset - Withdrawal Amount, Sum - Deposit Amount
# bank_acc1 = bank[bank["Account No"] == 409000611074]
ctr = 0
for i, (x, y) in enumerate(df_acc1.iterrows()):
#     print(df2.loc[i, "Account No"])
    if df_acc1.loc[i, "DEPOSIT AMT"] >= 0:
#         print(i)
        acc_no, date, deposit_amt, trans_details = df_acc1.loc[i, "Account No"], df_acc1.loc[i, "DATE"], df_acc1.loc[i, "DEPOSIT AMT"], df_acc1.loc[i, "TRANSACTION DETAILS"]
        
        df_temp =\
            df_acc1[(df_acc1["Account No"] == acc_no) & (df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
#         df_temp =\
#             df_acc1[(df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
    
        df_temp_res = seq_match(df_temp, trans_details)
        
#         if not df_temp_res.empty:
# #             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
# #             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res)            
#             print("xxxxxxxxxxxxxxxxxxxxxx")
    
        if not df_temp_res.empty:
#             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
            withdrawal_amt = list(df_temp_res["WITHDRAWAL AMT"])
            subset =  subsetsum(withdrawal_amt, deposit_amt)
            if len(subset) > 0:
                print(f"Deposit Amount {deposit_amt}")
                print(f"Date {date}")
                print(f"Transaction Details {trans_details}")
                
                print(df_temp_res)
#                 print(subset)
#             print(f"Deposit amt : {deposit_amt}")
#             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res) 
            ctr += 1
#             print("xxxxxxxxxxxxxxxxxxxxxx")

Deposit Amount 412421.0
Date 2015-10-19
Transaction Details P2P NEFT SETTLEMENT  INTE
    level_0  index    Account No        DATE  \
0      2309  88670  409000362497  2015-10-19
4      2316  88677  409000362497  2015-10-19
6      2319  88680  409000362497  2015-10-19
9      2322  88683  409000362497  2015-10-19
10     2323  88684  409000362497  2015-10-19
11     2324  88685  409000362497  2015-10-19
12     2325  88686  409000362497  2015-10-19
16     2344  88705  409000362497  2015-10-19
17     2345  88706  409000362497  2015-10-19

                 TRANSACTION DETAILS  VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  \
0                P2P NEFT SETTLEMENT  2015-10-19       2500000.0          NaN
4          P2P NEFT SETTLEMENT  INTE  2015-10-19       2500000.0          NaN
6          BSES RAJDHANI POWER LIMIT  2015-10-19         55060.0          NaN
9          BSES YAMUNA POWER LIMITED  2015-10-19          6340.0          NaN
10         BIGTREE ENTERTAINMENT PRI  2015-10-19         20146.0          NaN
11             NORTH DELHI POWER LTD  2015-10-19          1680.0          NaN
12                       PVR LIMITED  2015-10-19          4582.0          NaN
16  REVERSE  INTERIM Indiaforensic A  2015-10-19        412421.0          NaN
17         P2P NEFT SETTLEMENT  INTE  2015-10-19        412421.0          NaN

     BALANCE AMT
0  -1.505614e+09
4  -1.638347e+09
6  -1.720101e+09
9  -1.720280e+09
10 -1.720301e+09
11 -1.720302e+09
12 -1.720307e+09
16 -1.646179e+09
17 -1.646591e+09
Deposit Amount 33652.47
Date 2016-01-30
Transaction Details IMPS IW 30012016 4C
   level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     4935  91296  409000362497  2016-01-30        IMPS O/W  290116 1C
1     4946  91307  409000362497  2016-01-30        IMPS OW 30012016 3C
2     4948  91309  409000362497  2016-01-30        IMPS OW 30012016 2C
3     4955  91316  409000362497  2016-01-30        IMPS OW 30012016 4C
4     4958  91319  409000362497  2016-01-30    REV IMPS IW 30012016 4C
5     4959  91320  409000362497  2016-01-30        IMPS OW 30012016 4C
6     4961  91322  409000362497  2016-01-30  Sweep Trf To: 40900036427

   VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0  2016-01-30     29197097.25          NaN -1.640633e+09
1  2016-01-30     46346857.93          NaN -1.601936e+09
2  2016-01-30      9018571.73          NaN -1.610892e+09
3  2016-01-30     26350979.59          NaN -1.552225e+09
4  2016-01-30        33652.47          NaN -1.525874e+09
5  2016-01-30     21533162.11          NaN -1.547407e+09
6  2016-01-30      2865963.00          NaN -1.550233e+09
Deposit Amount 26350979.59
Date 2016-01-30
Transaction Details REV IMPS OW 30012016 4C
   level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     4935  91296  409000362497  2016-01-30        IMPS O/W  290116 1C
1     4946  91307  409000362497  2016-01-30        IMPS OW 30012016 3C
2     4948  91309  409000362497  2016-01-30        IMPS OW 30012016 2C
3     4955  91316  409000362497  2016-01-30        IMPS OW 30012016 4C
4     4958  91319  409000362497  2016-01-30    REV IMPS IW 30012016 4C
5     4959  91320  409000362497  2016-01-30        IMPS OW 30012016 4C
6     4961  91322  409000362497  2016-01-30  Sweep Trf To: 40900036427

   VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0  2016-01-30     29197097.25          NaN -1.640633e+09
1  2016-01-30     46346857.93          NaN -1.601936e+09
2  2016-01-30      9018571.73          NaN -1.610892e+09
3  2016-01-30     26350979.59          NaN -1.552225e+09
4  2016-01-30        33652.47          NaN -1.525874e+09
5  2016-01-30     21533162.11          NaN -1.547407e+09
6  2016-01-30      2865963.00          NaN -1.550233e+09
Deposit Amount 78792.06
Date 2016-02-03
Transaction Details IMPS IW 01022016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0      5033  91394  409000362497  2016-02-03        IMPS OW 01022016 1C
1      5037  91398  409000362497  2016-02-03        IMPS OW 03022016 2C
2      5040  91401  409000362497  2016-02-03   REV/ IMPS IW 01022016 1C
3      5041  91402  409000362497  2016-02-03  REV/ IMPS PENALTY 0102201
4      5042  91403  409000362497  2016-02-03  REV/ IMPS IW/OW RTN 01022
5      5043  91404  409000362497  2016-02-03        IMPS OW 02022016 1C
17     5061  91422  409000362497  2016-02-03        IMPS OW 03022016 1C
18     5070  91431  409000362497  2016-02-03        IMPS OW 03022016 4C
19     5072  91433  409000362497  2016-02-03  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-02-03     45863863.72          NaN -1.659340e+09
1   2016-02-03     11438460.62          NaN -1.670576e+09
2   2016-02-03        78792.06          NaN -1.624774e+09
3   2016-02-03           85.88          NaN -1.624774e+09
4   2016-02-03       123677.96          NaN -1.624898e+09
5   2016-02-03     37836922.51          NaN -1.662735e+09
17  2016-02-03     56616295.44          NaN -1.684237e+09
18  2016-02-03     30665592.62          NaN -1.614829e+09
19  2016-02-03      4809202.00          NaN -1.619555e+09
Deposit Amount 85.88
Date 2016-02-03
Transaction Details IMPS PENALTY 01022016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0      5033  91394  409000362497  2016-02-03        IMPS OW 01022016 1C
1      5037  91398  409000362497  2016-02-03        IMPS OW 03022016 2C
2      5040  91401  409000362497  2016-02-03   REV/ IMPS IW 01022016 1C
3      5041  91402  409000362497  2016-02-03  REV/ IMPS PENALTY 0102201
4      5042  91403  409000362497  2016-02-03  REV/ IMPS IW/OW RTN 01022
5      5043  91404  409000362497  2016-02-03        IMPS OW 02022016 1C
10     5050  91411  409000362497  2016-02-03  IRCTC CORPORATE OFFICE AC
11     5051  91412  409000362497  2016-02-03  IRCTC CORPORATE OFFICE AC
12     5052  91413  409000362497  2016-02-03  PAYU PAYMENTS PRIVATE LIM
17     5061  91422  409000362497  2016-02-03        IMPS OW 03022016 1C
18     5070  91431  409000362497  2016-02-03        IMPS OW 03022016 4C
19     5072  91433  409000362497  2016-02-03  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-02-03     45863863.72          NaN -1.659340e+09
1   2016-02-03     11438460.62          NaN -1.670576e+09
2   2016-02-03        78792.06          NaN -1.624774e+09
3   2016-02-03           85.88          NaN -1.624774e+09
4   2016-02-03       123677.96          NaN -1.624898e+09
5   2016-02-03     37836922.51          NaN -1.662735e+09
10  2016-02-03         9969.00          NaN -1.662760e+09
11  2016-02-03       121053.00          NaN -1.662881e+09
12  2016-02-03         3979.00          NaN -1.662885e+09
17  2016-02-03     56616295.44          NaN -1.684237e+09
18  2016-02-03     30665592.62          NaN -1.614829e+09
19  2016-02-03      4809202.00          NaN -1.619555e+09
Deposit Amount 123677.96
Date 2016-02-03
Transaction Details IMPS IW/OW RTN 01022016 1
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0      5033  91394  409000362497  2016-02-03        IMPS OW 01022016 1C
1      5037  91398  409000362497  2016-02-03        IMPS OW 03022016 2C
2      5040  91401  409000362497  2016-02-03   REV/ IMPS IW 01022016 1C
3      5041  91402  409000362497  2016-02-03  REV/ IMPS PENALTY 0102201
4      5042  91403  409000362497  2016-02-03  REV/ IMPS IW/OW RTN 01022
5      5043  91404  409000362497  2016-02-03        IMPS OW 02022016 1C
17     5061  91422  409000362497  2016-02-03        IMPS OW 03022016 1C
18     5070  91431  409000362497  2016-02-03        IMPS OW 03022016 4C
19     5072  91433  409000362497  2016-02-03  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-02-03     45863863.72          NaN -1.659340e+09
1   2016-02-03     11438460.62          NaN -1.670576e+09
2   2016-02-03        78792.06          NaN -1.624774e+09
3   2016-02-03           85.88          NaN -1.624774e+09
4   2016-02-03       123677.96          NaN -1.624898e+09
5   2016-02-03     37836922.51          NaN -1.662735e+09
17  2016-02-03     56616295.44          NaN -1.684237e+09
18  2016-02-03     30665592.62          NaN -1.614829e+09
19  2016-02-03      4809202.00          NaN -1.619555e+09
Deposit Amount 45863863.72
Date 2016-02-03
Transaction Details REV/ IMPS OW 01022016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0      5033  91394  409000362497  2016-02-03        IMPS OW 01022016 1C
1      5037  91398  409000362497  2016-02-03        IMPS OW 03022016 2C
2      5040  91401  409000362497  2016-02-03   REV/ IMPS IW 01022016 1C
3      5041  91402  409000362497  2016-02-03  REV/ IMPS PENALTY 0102201
4      5042  91403  409000362497  2016-02-03  REV/ IMPS IW/OW RTN 01022
5      5043  91404  409000362497  2016-02-03        IMPS OW 02022016 1C
8      5048  91409  409000362497  2016-02-03      NORTH DELHI POWER LTD
17     5061  91422  409000362497  2016-02-03        IMPS OW 03022016 1C
18     5070  91431  409000362497  2016-02-03        IMPS OW 03022016 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-02-03     45863863.72          NaN -1.659340e+09
1   2016-02-03     11438460.62          NaN -1.670576e+09
2   2016-02-03        78792.06          NaN -1.624774e+09
3   2016-02-03           85.88          NaN -1.624774e+09
4   2016-02-03       123677.96          NaN -1.624898e+09
5   2016-02-03     37836922.51          NaN -1.662735e+09
8   2016-02-03         1390.00          NaN -1.662635e+09
17  2016-02-03     56616295.44          NaN -1.684237e+09
18  2016-02-03     30665592.62          NaN -1.614829e+09

Deposit Amount 28.75
Date 2016-07-02
Transaction Details IMPS PENALTY LEVIED 01072
   level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     9205  95566  409000362497  2016-07-02        IMPS OW 01072016 1C
1     9209  95570  409000362497  2016-07-02  IMPS PENALTY RECD 0107201
2     9210  95571  409000362497  2016-07-02        IMPS OW 02072016 2C
3     9216  95577  409000362497  2016-07-02        IMPS OW 02072016 3C
4     9218  95579  409000362497  2016-07-02        IMPS OW 02072016 4C
5     9220  95581  409000362497  2016-07-02  Sweep Trf To: 40900036427

   VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0  2016-07-02     32934875.06          NaN -1.543334e+09
1  2016-07-02           28.75          NaN -1.543213e+09
2  2016-07-02     10005508.46          NaN -1.553219e+09
3  2016-07-02     44934381.78          NaN -1.558143e+09
4  2016-07-02     23508291.27          NaN -1.581551e+09
5  2016-07-02      4147063.00          NaN -1.585651e+09
Deposit Amount 10.0
Date 2016-07-04
Transaction Details NEFT RTN ACCOUNT DOES NOT
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
3      9246  95607  409000362497  2016-07-04  BIGTREE ENTERTAINMENT PRI
4      9247  95608  409000362497  2016-07-04         INDIAIDEAS COM LTD
5      9248  95609  409000362497  2016-07-04  INDIAIDEAS COM IRCTC CORP
6      9249  95610  409000362497  2016-07-04  INDIAIDEAS COM IRCTC CORP
7      9250  95611  409000362497  2016-07-04  PAYU PAYMENTS PRIVATE LIM
8      9251  95612  409000362497  2016-07-04  SONATA FINANCE PRIVATE LI
10     9253  95614  409000362497  2016-07-04  NAAPTOL ONLINE SHOPPING P
11     9254  95615  409000362497  2016-07-04   QUINSEL SERVICES PRIVATE
14     9257  95618  409000362497  2016-07-04  LOCALCUBE COMMERCE PRIVAT
15     9258  95619  409000362497  2016-07-04   MERU CAB COMPANY PRIVATE
16     9259  95620  409000362497  2016-07-04  JEWELCLICK ONLINE PRIVATE
17     9260  95621  409000362497  2016-07-04   NOMISMA MOBILE SOLUTIONS
18     9261  95622  409000362497  2016-07-04  REVERSE LOGISTICS COMPANY

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
3   2016-07-04         20633.0          NaN -1.546038e+09
4   2016-07-04        324727.0          NaN -1.546363e+09
5   2016-07-04         15710.0          NaN -1.546378e+09
6   2016-07-04        145630.0          NaN -1.546524e+09
7   2016-07-04        600323.0          NaN -1.547124e+09
8   2016-07-04         32910.0          NaN -1.547157e+09
10  2016-07-04         10032.0          NaN -1.547169e+09
11  2016-07-04           121.0          NaN -1.547169e+09
14  2016-07-04        157356.0          NaN -1.547328e+09
15  2016-07-04         17643.0          NaN -1.547346e+09
16  2016-07-04          1278.0          NaN -1.547347e+09
17  2016-07-04         51431.0          NaN -1.547398e+09
18  2016-07-04            10.0          NaN -1.547398e+09
Deposit Amount 111089.65
Date 2016-07-28
Transaction Details IMPS IW 27072016 1C
    level_0  index    Account No        DATE       TRANSACTION DETAILS  \
0      9928  96289  409000362497  2016-07-28       IMPS OW 27072016 1C
1      9931  96292  409000362497  2016-07-28   REV IMPS IW 27072016 1C
2      9932  96293  409000362497  2016-07-28  REV IMPS RTN 27072016 1C
3      9934  96295  409000362497  2016-07-28       IMPS OW 27072016 1C
4      9938  96299  409000362497  2016-07-28       IMPS OW 28072016 2C
15     9955  96316  409000362497  2016-07-28       IMPS OW 28072016 3C
16     9957  96318  409000362497  2016-07-28       IMPS OW 28072016 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-07-28     44230517.88          NaN -1.666464e+09
1   2016-07-28       111089.65          NaN -1.666312e+09
2   2016-07-28       151773.95          NaN -1.666464e+09
3   2016-07-28     33010730.69          NaN -1.655244e+09
4   2016-07-28     10974937.01          NaN -1.666054e+09
15  2016-07-28     30554549.74          NaN -1.648600e+09
16  2016-07-28     27056225.91          NaN -1.675572e+09
Deposit Amount 151773.95
Date 2016-07-28
Transaction Details IMPS RTN 27072016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0      9928  96289  409000362497  2016-07-28        IMPS OW 27072016 1C
1      9931  96292  409000362497  2016-07-28    REV IMPS IW 27072016 1C
2      9932  96293  409000362497  2016-07-28   REV IMPS RTN 27072016 1C
3      9934  96295  409000362497  2016-07-28        IMPS OW 27072016 1C
4      9938  96299  409000362497  2016-07-28        IMPS OW 28072016 2C
7      9942  96303  409000362497  2016-07-28  IRCTC CORPORATE OFFICE AC
8      9943  96304  409000362497  2016-07-28  IRCTC CORPORATE OFFICE AC
15     9955  96316  409000362497  2016-07-28        IMPS OW 28072016 3C
16     9957  96318  409000362497  2016-07-28        IMPS OW 28072016 4C
17     9959  96320  409000362497  2016-07-28  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-07-28     44230517.88          NaN -1.666464e+09
1   2016-07-28       111089.65          NaN -1.666312e+09
2   2016-07-28       151773.95          NaN -1.666464e+09
3   2016-07-28     33010730.69          NaN -1.655244e+09
4   2016-07-28     10974937.01          NaN -1.666054e+09
7   2016-07-28        14322.00          NaN -1.666296e+09
8   2016-07-28        81661.00          NaN -1.666377e+09
15  2016-07-28     30554549.74          NaN -1.648600e+09
16  2016-07-28     27056225.91          NaN -1.675572e+09
17  2016-07-28      6067579.00          NaN -1.681573e+09
Deposit Amount 44230517.88
Date 2016-07-28
Transaction Details IMPS OW 27072016 1C
    level_0  index    Account No        DATE       TRANSACTION DETAILS  \
0      9928  96289  409000362497  2016-07-28       IMPS OW 27072016 1C
1      9931  96292  409000362497  2016-07-28   REV IMPS IW 27072016 1C
2      9932  96293  409000362497  2016-07-28  REV IMPS RTN 27072016 1C
3      9934  96295  409000362497  2016-07-28       IMPS OW 27072016 1C
4      9938  96299  409000362497  2016-07-28       IMPS OW 28072016 2C
15     9955  96316  409000362497  2016-07-28       IMPS OW 28072016 3C
16     9957  96318  409000362497  2016-07-28       IMPS OW 28072016 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-07-28     44230517.88          NaN -1.666464e+09
1   2016-07-28       111089.65          NaN -1.666312e+09
2   2016-07-28       151773.95          NaN -1.666464e+09
3   2016-07-28     33010730.69          NaN -1.655244e+09
4   2016-07-28     10974937.01          NaN -1.666054e+09
15  2016-07-28     30554549.74          NaN -1.648600e+09
16  2016-07-28     27056225.91          NaN -1.675572e+09
Deposit Amount 109569.3
Date 2016-08-08
Transaction Details IMPS OW 06082016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10202  96563  409000362497  2016-08-08        IMPS OW 06082016 1C
1     10205  96566  409000362497  2016-08-08        IMPS OW 06082016 1C
2     10208  96569  409000362497  2016-08-08        IMPS OW 07082016 1C
3     10210  96571  409000362497  2016-08-08    REV IMPS OW 06082016 1C
4     10212  96573  409000362497  2016-08-08    REV IMPS RTN06082016 IC
19    10234  96595  409000362497  2016-08-08        IMPS OW 08082016 2C
20    10236  96597  409000362497  2016-08-08        IMPS OW 08082016 3C
21    10244  96605  409000362497  2016-08-08        IMPS OW 08082016 4C
22    10248  96609  409000362497  2016-08-08  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-08     31245768.58          NaN -1.585905e+09
1   2016-08-08     31245768.58          NaN -1.617017e+09
2   2016-08-08     88244940.68          NaN -1.705128e+09
3   2016-08-08       109569.30          NaN -1.705014e+09
4   2016-08-08        23945.25          NaN -1.673792e+09
19  2016-08-08     17911424.41          NaN -1.632528e+09
20  2016-08-08     74107567.49          NaN -1.706620e+09
21  2016-08-08     38636873.60          NaN -1.655104e+09
22  2016-08-08      7979770.00          NaN -1.662995e+09
Deposit Amount 23945.25
Date 2016-08-08
Transaction Details IMPS RTN06082016 IC
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10202  96563  409000362497  2016-08-08        IMPS OW 06082016 1C
1     10205  96566  409000362497  2016-08-08        IMPS OW 06082016 1C
2     10208  96569  409000362497  2016-08-08        IMPS OW 07082016 1C
3     10210  96571  409000362497  2016-08-08    REV IMPS OW 06082016 1C
4     10212  96573  409000362497  2016-08-08    REV IMPS RTN06082016 IC
5     10220  96581  409000362497  2016-08-08  BIGTREE ENTERTAINMENT PRI
7     10222  96583  409000362497  2016-08-08  IRCTC CORPORATE OFFICE AC
8     10223  96584  409000362497  2016-08-08  IRCTC CORPORATE OFFICE AC
9     10224  96585  409000362497  2016-08-08  PAYU PAYMENTS PRIVATE LIM
13    10228  96589  409000362497  2016-08-08  MEHER ENTERTAINMENT PRIVA
15    10230  96591  409000362497  2016-08-08  AIRPAY PAYMENT SERVICES P
19    10234  96595  409000362497  2016-08-08        IMPS OW 08082016 2C
20    10236  96597  409000362497  2016-08-08        IMPS OW 08082016 3C
21    10244  96605  409000362497  2016-08-08        IMPS OW 08082016 4C
22    10248  96609  409000362497  2016-08-08  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-08     31245768.58          NaN -1.585905e+09
1   2016-08-08     31245768.58          NaN -1.617017e+09
2   2016-08-08     88244940.68          NaN -1.705128e+09
3   2016-08-08       109569.30          NaN -1.705014e+09
4   2016-08-08        23945.25          NaN -1.673792e+09
5   2016-08-08        20405.00          NaN -1.608812e+09
7   2016-08-08        29959.00          NaN -1.609289e+09
8   2016-08-08       208635.00          NaN -1.609497e+09
9   2016-08-08        86269.00          NaN -1.609584e+09
13  2016-08-08         2248.00          NaN -1.609615e+09
15  2016-08-08          494.00          NaN -1.609616e+09
19  2016-08-08     17911424.41          NaN -1.632528e+09
20  2016-08-08     74107567.49          NaN -1.706620e+09
21  2016-08-08     38636873.60          NaN -1.655104e+09
22  2016-08-08      7979770.00          NaN -1.662995e+09
Deposit Amount 109569.3
Date 2016-08-08
Transaction Details IMPS OW 06082016 1C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10202  96563  409000362497  2016-08-08        IMPS OW 06082016 1C
1     10205  96566  409000362497  2016-08-08        IMPS OW 06082016 1C
2     10208  96569  409000362497  2016-08-08        IMPS OW 07082016 1C
3     10210  96571  409000362497  2016-08-08    REV IMPS OW 06082016 1C
4     10212  96573  409000362497  2016-08-08    REV IMPS RTN06082016 IC
19    10234  96595  409000362497  2016-08-08        IMPS OW 08082016 2C
20    10236  96597  409000362497  2016-08-08        IMPS OW 08082016 3C
21    10244  96605  409000362497  2016-08-08        IMPS OW 08082016 4C
22    10248  96609  409000362497  2016-08-08  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-08     31245768.58          NaN -1.585905e+09
1   2016-08-08     31245768.58          NaN -1.617017e+09
2   2016-08-08     88244940.68          NaN -1.705128e+09
3   2016-08-08       109569.30          NaN -1.705014e+09
4   2016-08-08        23945.25          NaN -1.673792e+09
19  2016-08-08     17911424.41          NaN -1.632528e+09
20  2016-08-08     74107567.49          NaN -1.706620e+09
21  2016-08-08     38636873.60          NaN -1.655104e+09
22  2016-08-08      7979770.00          NaN -1.662995e+09
Deposit Amount 23945.25
Date 2016-08-08
Transaction Details IMPS RTN06082016 IC
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10202  96563  409000362497  2016-08-08        IMPS OW 06082016 1C
1     10205  96566  409000362497  2016-08-08        IMPS OW 06082016 1C
2     10208  96569  409000362497  2016-08-08        IMPS OW 07082016 1C
3     10210  96571  409000362497  2016-08-08    REV IMPS OW 06082016 1C
4     10212  96573  409000362497  2016-08-08    REV IMPS RTN06082016 IC
5     10220  96581  409000362497  2016-08-08  BIGTREE ENTERTAINMENT PRI
7     10222  96583  409000362497  2016-08-08  IRCTC CORPORATE OFFICE AC
8     10223  96584  409000362497  2016-08-08  IRCTC CORPORATE OFFICE AC
9     10224  96585  409000362497  2016-08-08  PAYU PAYMENTS PRIVATE LIM
13    10228  96589  409000362497  2016-08-08  MEHER ENTERTAINMENT PRIVA
15    10230  96591  409000362497  2016-08-08  AIRPAY PAYMENT SERVICES P
19    10234  96595  409000362497  2016-08-08        IMPS OW 08082016 2C
20    10236  96597  409000362497  2016-08-08        IMPS OW 08082016 3C
21    10244  96605  409000362497  2016-08-08        IMPS OW 08082016 4C
22    10248  96609  409000362497  2016-08-08  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-08     31245768.58          NaN -1.585905e+09
1   2016-08-08     31245768.58          NaN -1.617017e+09
2   2016-08-08     88244940.68          NaN -1.705128e+09
3   2016-08-08       109569.30          NaN -1.705014e+09
4   2016-08-08        23945.25          NaN -1.673792e+09
5   2016-08-08        20405.00          NaN -1.608812e+09
7   2016-08-08        29959.00          NaN -1.609289e+09
8   2016-08-08       208635.00          NaN -1.609497e+09
9   2016-08-08        86269.00          NaN -1.609584e+09
13  2016-08-08         2248.00          NaN -1.609615e+09
15  2016-08-08          494.00          NaN -1.609616e+09
19  2016-08-08     17911424.41          NaN -1.632528e+09
20  2016-08-08     74107567.49          NaN -1.706620e+09
21  2016-08-08     38636873.60          NaN -1.655104e+09
22  2016-08-08      7979770.00          NaN -1.662995e+09
Deposit Amount 31245768.58
Date 2016-08-08
Transaction Details REV IMPS OW 06082016 1C
    level_0  index    Account No        DATE      TRANSACTION DETAILS  \
0     10202  96563  409000362497  2016-08-08      IMPS OW 06082016 1C
1     10205  96566  409000362497  2016-08-08      IMPS OW 06082016 1C
2     10208  96569  409000362497  2016-08-08      IMPS OW 07082016 1C
3     10210  96571  409000362497  2016-08-08  REV IMPS OW 06082016 1C
4     10212  96573  409000362497  2016-08-08  REV IMPS RTN06082016 IC
19    10234  96595  409000362497  2016-08-08      IMPS OW 08082016 2C
20    10236  96597  409000362497  2016-08-08      IMPS OW 08082016 3C
21    10244  96605  409000362497  2016-08-08      IMPS OW 08082016 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-08     31245768.58          NaN -1.585905e+09
1   2016-08-08     31245768.58          NaN -1.617017e+09
2   2016-08-08     88244940.68          NaN -1.705128e+09
3   2016-08-08       109569.30          NaN -1.705014e+09
4   2016-08-08        23945.25          NaN -1.673792e+09
19  2016-08-08     17911424.41          NaN -1.632528e+09
20  2016-08-08     74107567.49          NaN -1.706620e+09
21  2016-08-08     38636873.60          NaN -1.655104e+09

Deposit Amount 142706.3
Date 2016-08-10
Transaction Details IMPS IW 10082016 3C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10289  96650  409000362497  2016-08-10        IMPS OW 09082016 1C
1     10292  96653  409000362497  2016-08-10        IMPS OW 10082016 2C
14    10313  96674  409000362497  2016-08-10        IMPS OW 10082016 3C
15    10315  96676  409000362497  2016-08-10        IMPS OW 10082016 4c
16    10318  96679  409000362497  2016-08-10    IMPS IW REV 10082016 4C
17    10319  96680  409000362497  2016-08-10        IMPS OW 10082016 4C
18    10321  96682  409000362497  2016-08-10  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-10     50035123.70          NaN -1.623467e+09
1   2016-08-10     15747916.96          NaN -1.639040e+09
14  2016-08-10     57632279.86          NaN -1.609348e+09
15  2016-08-10     57632279.86          NaN -1.666838e+09
16  2016-08-10       142706.30          NaN -1.609205e+09
17  2016-08-10     30814352.46          NaN -1.640020e+09
18  2016-08-10      5149071.00          NaN -1.645100e+09
Deposit Amount 142706.3
Date 2016-08-10
Transaction Details IMPS IW 10082016 4c
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10289  96650  409000362497  2016-08-10        IMPS OW 09082016 1C
1     10292  96653  409000362497  2016-08-10        IMPS OW 10082016 2C
14    10313  96674  409000362497  2016-08-10        IMPS OW 10082016 3C
15    10315  96676  409000362497  2016-08-10        IMPS OW 10082016 4c
16    10318  96679  409000362497  2016-08-10    IMPS IW REV 10082016 4C
17    10319  96680  409000362497  2016-08-10        IMPS OW 10082016 4C
18    10321  96682  409000362497  2016-08-10  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-10     50035123.70          NaN -1.623467e+09
1   2016-08-10     15747916.96          NaN -1.639040e+09
14  2016-08-10     57632279.86          NaN -1.609348e+09
15  2016-08-10     57632279.86          NaN -1.666838e+09
16  2016-08-10       142706.30          NaN -1.609205e+09
17  2016-08-10     30814352.46          NaN -1.640020e+09
18  2016-08-10      5149071.00          NaN -1.645100e+09
Deposit Amount 57632279.86
Date 2016-08-10
Transaction Details IMPS OW REV 10082016 4C
    level_0  index    Account No        DATE        TRANSACTION DETAILS  \
0     10289  96650  409000362497  2016-08-10        IMPS OW 09082016 1C
1     10292  96653  409000362497  2016-08-10        IMPS OW 10082016 2C
4     10300  96661  409000362497  2016-08-10  IRCTC CORPORATE OFFICE AC
5     10301  96662  409000362497  2016-08-10  IRCTC CORPORATE OFFICE AC
14    10313  96674  409000362497  2016-08-10        IMPS OW 10082016 3C
15    10315  96676  409000362497  2016-08-10        IMPS OW 10082016 4c
16    10318  96679  409000362497  2016-08-10    IMPS IW REV 10082016 4C
17    10319  96680  409000362497  2016-08-10        IMPS OW 10082016 4C
18    10321  96682  409000362497  2016-08-10  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-08-10     50035123.70          NaN -1.623467e+09
1   2016-08-10     15747916.96          NaN -1.639040e+09
4   2016-08-10        10011.00          NaN -1.579262e+09
5   2016-08-10        48463.00          NaN -1.579310e+09
14  2016-08-10     57632279.86          NaN -1.609348e+09
15  2016-08-10     57632279.86          NaN -1.666838e+09
16  2016-08-10       142706.30          NaN -1.609205e+09
17  2016-08-10     30814352.46          NaN -1.640020e+09
18  2016-08-10      5149071.00          NaN -1.645100e+09
Deposit Amount 28.75
Date 2016-12-06
Transaction Details IMPS PENALTY 05122016
    level_0  index    Account No        DATE    TRANSACTION DETAILS  \
0     13503  99864  409000362497  2016-12-06    IMPS OW 06012016 1C
1     13505  99866  409000362497  2016-12-06  IMPS PENALTY 05122016
2     13506  99867  409000362497  2016-12-06      IMPS RTN 05122016
3     13517  99878  409000362497  2016-12-06    IMPS OW 06122016 2C
4     13518  99879  409000362497  2016-12-06    IMPS OW 06122016 3C
13    13529  99890  409000362497  2016-12-06    IMPS OW 06122016 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2016-12-06     28309807.69          NaN -1.917060e+09
1   2016-12-06           28.75          NaN -1.916970e+09
2   2016-12-06        15171.20          NaN -1.916985e+09
3   2016-12-06      7295568.58          NaN -1.799481e+09
4   2016-12-06     34841642.71          NaN -1.834322e+09
13  2016-12-06     20397574.33          NaN -1.854964e+09
Deposit Amount 45611.85
Date 2017-02-02
Transaction Details IMPS IW 02012017 4C
    level_0   index    Account No        DATE        TRANSACTION DETAILS  \
0     15133  101494  409000362497  2017-02-02        IMPS OW 01022017 1C
1     15135  101496  409000362497  2017-02-02        IMPS OW 01022017 1C
2     15136  101497  409000362497  2017-02-02        IMPS OW 02012017 2C
16    15158  101519  409000362497  2017-02-02         IMPS OW 020220173C
17    15160  101521  409000362497  2017-02-02        IMPS OW 02012017 4C
18    15163  101524  409000362497  2017-02-02    REV IMPS IW 02012017 4C
19    15164  101525  409000362497  2017-02-02        IMPS OW 02012017 4C
20    15166  101527  409000362497  2017-02-02  Sweep Trf To: 40900036427

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2017-02-02     32039138.40          NaN -1.868469e+09
1   2017-02-02        16068.20          NaN -1.868454e+09
2   2017-02-02      8882127.66          NaN -1.877336e+09
16  2017-02-02     39029009.69          NaN -1.830138e+09
17  2017-02-02     21539421.38          NaN -1.851573e+09
18  2017-02-02        45611.85          NaN -1.830034e+09
19  2017-02-02     22930769.69          NaN -1.852964e+09
20  2017-02-02      2655720.00          NaN -1.855594e+09
Deposit Amount 21539421.38
Date 2017-02-02
Transaction Details REV IMPS OW 02012017 4C
    level_0   index    Account No        DATE        TRANSACTION DETAILS  \
0     15133  101494  409000362497  2017-02-02        IMPS OW 01022017 1C
1     15135  101496  409000362497  2017-02-02        IMPS OW 01022017 1C
2     15136  101497  409000362497  2017-02-02        IMPS OW 02012017 2C
9     15146  101507  409000362497  2017-02-02  FUTURE RETAIL LIMITED (OW
16    15158  101519  409000362497  2017-02-02         IMPS OW 020220173C
17    15160  101521  409000362497  2017-02-02        IMPS OW 02012017 4C
18    15163  101524  409000362497  2017-02-02    REV IMPS IW 02012017 4C
19    15164  101525  409000362497  2017-02-02        IMPS OW 02012017 4C

    VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
0   2017-02-02     32039138.40          NaN -1.868469e+09
1   2017-02-02        16068.20          NaN -1.868454e+09
2   2017-02-02      8882127.66          NaN -1.877336e+09
9   2017-02-02        43905.00          NaN -1.854014e+09
16  2017-02-02     39029009.69          NaN -1.830138e+09
17  2017-02-02     21539421.38          NaN -1.851573e+09
18  2017-02-02        45611.85          NaN -1.830034e+09
19  2017-02-02     22930769.69          NaN -1.852964e+09

In [52]:
#### Subset - Deposit Amount, Sum -  Withdrawal Amount
ctr = 0
for i, (x, y) in enumerate(df_acc1.iterrows()):
#     print(df2.loc[i, "Account No"])
    if df_acc1.loc[i, "WITHDRAWAL AMT"] >= 0:
#         print(i)
        acc_no, date, withdrawal_amt, trans_details = df_acc1.loc[i, "Account No"], df_acc1.loc[i, "DATE"], df_acc1.loc[i, "WITHDRAWAL AMT"], df_acc1.loc[i, "TRANSACTION DETAILS"]
        
        df_temp =\
            df_acc1[(df_acc1["Account No"] == acc_no) & (df_acc1["DATE"] == date) & (df_acc1["DEPOSIT AMT"] >= 0)]
#         df_temp =\
#             df_acc1[(df_acc1["DATE"] == date) & (df_acc1["WITHDRAWAL AMT"] >= 0)]
    
        df_temp_res = seq_match(df_temp, trans_details)
        
#         if not df_temp_res.empty:
# #             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
# #             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res)            
#             print("xxxxxxxxxxxxxxxxxxxxxx")
    
        if not df_temp_res.empty:
#             print(f"Index - {i}")
#             print("xxxxxxxxxxxxxxxxxxxxxx")
            depositamt = list(df_temp_res["DEPOSIT AMT"])
            subset =  subsetsum(depositamt, withdrawal_amt)
            if len(subset) > 0:
                print(subset)
#             print(f"Deposit amt : {deposit_amt}")
#             print(f"Row : {df_acc1.loc[i]}")            
#             print(df_temp_res) 
            ctr += 1
#             print("xxxxxxxxxxxxxxxxxxxxxx")

[409000611074 409000493201 409000425051 409000405747 409000438611
 409000493210 409000438620      1196711      1196428 409000362497]

In [17]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [29]:
similar(bank.loc[116172]["TRANSACTION DETAILS"], bank.loc[116174]["TRANSACTION DETAILS"])

0.7857142857142857

In [31]:
from fuzzywuzzy import fuzz

print(fuzz.ratio(bank.loc[116172]["TRANSACTION DETAILS"], bank.loc[116174]["TRANSACTION DETAILS"]))

79